@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.uppernav{
    background-color: #000;
}

.uppernav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px 0 20px;
    text-align: right;
}
.uppernav ul li{
    display: inline-block;
    margin: 15px ;
    
}
.uppernav ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: auto;
    text-decoration: none;

}

.uppernav ul li:first-child{
    float: left;
    padding-left: 33px ;
}

