@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.lowernav{
    background-color: white;
}

.lowernav img{
    width: 255px;
    height: 100px;
    vertical-align: middle;
}

.lowernav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px 0 20px;
    text-align: right;
}
.lowernav ul li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 15px ;    
}
.lowernav ul li a{
    color: black;
    width: auto;
    text-decoration: none;
    text-align: center;
    padding-left: 13px;

}

.lowernav ul li:first-child{
    float: left;
    padding-left: 20px;
    
}
