@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.lowernav{
    background-color: white;
}

.lowernav img{
    width: 255px;
    height: 120px;
    vertical-align: middle;
}

.lowernav ul {
    display: flex;
    align-items: center;
    justify-content: right;
    list-style: none;
    margin: 0;
    padding: 0 20px 0 20px;
    text-align: right;
}
.lowernav ul li{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 800;
    margin: 15px ;    
}
.lowernav ul li a{
    color: black;
    width: auto;
    text-decoration: none;
    text-align: center;
    padding-left: 13px;
    

}

.lowernav ul li:first-child{
    margin-right: auto;
    padding-left: 20px;
    
}

.lowernav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .lowernav ul li {display:none;}
  .lowernav ul li:first-child{display: block;}
  .lowernav ul li:last-child{display: block;}
  .lowernav ul li a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .lowernav.responsive {position: relative;}
  .lowernav.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .lowernav.responsive ul li {
    float: none;
    display: block;
    text-align: left;
  }
}