@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
.uppernav{
    background-color: #000;
    overflow: hidden;
}

.uppernav ul {
    list-style: none;
    margin: 0;
    padding: 0 20px 0 20px;
    text-align: right;
}
.uppernav ul li{
    display: inline-block;
    margin: 15px ;
    
}
.uppernav ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: white;
    width: auto;
    text-decoration: none;

}

.uppernav ul li:first-child{
    float: left;
    padding-left: 33px ;
}

.uppernav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .uppernav ul li {display:none;}
  .uppernav ul li:first-child{display: inline-block;}
  .uppernav ul li:last-child{display: inline-block;}
  .uppernav ul li a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .uppernav.responsive {position: relative;}
  .uppernav.responsive a.icon {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  .uppernav.responsive ul li {
    clear:both;
    float: none;
    display: block;
    text-align: left;
  }
}
